:root {
    --accent-color: hsl(275,59%,47%);
    --nav-font-color: hsl(0, 0%, 70%);
    --nav-font-selected-color: hsl(0, 0%, 90%);
    --main-font-color: hsl(0, 0%, 90%);
    --page-section-background-color: hsl(0, 0%, 14%);
}

body {
    color: var(--main-font-color);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: var(--accent-color);
    box-shadow: 0 3px 0 rgba(0,0,0,0.4);
}
  
#navbar a {
    text-decoration: none;
    padding: 1.5rem;
    color: var(--nav-font-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

#navbar a:hover {
    color: var(--nav-font-selected-color);
}
  
.page-section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--page-section-background-color);
    margin: 0;
}

.page-section:focus {
    outline: none;
}